<ion-header>
    <ion-navbar>
        <!-- <ion-tabs>
             <ion-tab tabTitle="contacts"   tabIcon="contacts"  (click)="login()"></ion-tab>
            <ion-tab  tabTitle="messages" tabIcon="chatbubbles" (click)="register()"></ion-tab>
        </ion-tabs> // we should not use tabs like this.under tabs there should not be any html code........ -->
        <!-- <a href="#" (click)="login()">Login</a>
        <a href="#" (click)="register()">Register</a>   -->
        <button ion-button (click)="login()">Login</button>
        <button ion-button (click)="register()">Register</button>
    </ion-navbar>
</ion-header>

<ion-content class="back">
    <ion-card class="card">
        <form *ngIf="registerPage">
            <ion-item class="content-input">
                <ion-input type="text" [(ngModel)]="data.fullName" name="fullName" placeholder="full name"></ion-input>
            </ion-item>
            <ion-item>
                <ion-input type="text" [(ngModel)]="data.phoneNumber" name="phoneNumber" placeholder="phone number"></ion-input>
            </ion-item>
            <ion-item>
                <ion-input type="email" [(ngModel)]="data.Email" name="Email" placeholder="Email"></ion-input>
            </ion-item>
            <ion-item>
                <ion-input type="text" [(ngModel)]="data.password" name="password" placeholder="password"></ion-input>
            </ion-item>
            <br>
            <br>
            <br>
            <br>
            <button ion-button class="button"  (click)="registerauth(data)">Submit</button>
             
        </form>

    </ion-card>

    <ion-card class="cardd" >
        <form *ngIf="loginPage" >
           
            <ion-item>
                <ion-input type="text" name="Email" [(ngModel)]='data.Email' placeholder="Email" ></ion-input>
            </ion-item>
            <ion-item>
                <ion-input type="text" name="password" [(ngModel)]='data.password' placeholder="password"></ion-input>
            </ion-item>
            <br>
            <br>
            <br>
            <br>
            <button ion-button class="button" (click)="loginauth(data)">Submit</button>
        
        </form>
    </ion-card>
</ion-content>